NIMBUS_HTTP_ADDR=:58080
NIMBUS_DB_DSN=nimbus:nimbus_dev@tcp(127.0.0.1:23316)/nimbus_platform_go?charset=utf8mb4&parseTime=True&loc=Local
NIMBUS_JWT_SECRET=change-me-before-production
NIMBUS_TOKEN_TTL=2h
NIMBUS_BOOTSTRAP_TENANT=Nimbus Framework
NIMBUS_BOOTSTRAP_USERNAME=admin
NIMBUS_BOOTSTRAP_PASSWORD=admin123
